.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapboxgl-ctrl-top-left {
  margin-left: 1.7rem;
}

.marker {
  background-image: url('./marker.png') !important;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapbox-directions-component-keyline {
  display: none;
}

.mapbox-directions-route-summary {
  display: none;
}

.mapbox-directions-instructions-wrapper {
  max-height: 10vh;
}

.mapboxgl-ctrl-directions {
  margin-top: 6vh !important;
}

.mapboxgl-ctrl-top-right {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}